<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Selection</title>
</head>
<body>
    <table>
        <tr>
            <td style="text-align: center;">
                <button style="width: 100%;">Drums</button>
            </td>
            <td style="text-align: center;">
                <button style="width: 100%;">Guitar</button>
            </td>
            <td style="text-align: center;">
                <button style="width: 100%;">Keys</button>
            </td>
            <td style="text-align: center;">
                <button style="width: 100%;">Cajon</button>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <button style="width: 100%;">Blue 1</button>
            </td>
            <td style="text-align: center;">
                <button style="width: 100%;">Blue 2</button>
            </td>
            <td style="text-align: center;">
                <button style="width: 100%;">Blue 3</button>
            </td>
            <td style="text-align: center;">
                <button style="width: 100%;">Blue 4</button>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <button style="width: 100%;">Gold 1</button>
            </td>
            <td style="text-align: center;">
                <button style="width: 100%;">Gold 2</button>
            </td>
            <td style="text-align: center;">
                <button style="width: 100%;">Gold 3</button>
            </td>
            <td style="text-align: center;">
                <button style="width: 100%;">Gold 4</button>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: center;">
                <button style="width: 100%;">MIXER</button>
            </td>
        </tr>
    </table>
</body>
</html>